In [50]:
"""
在日常的学习工作中，我们可能会涉及到使用其他编程语言来对mysql数据库进行操作。其原理即在于通过mysql与其他编程语言
的接口，对目标数据库进行连接，并通过执行mysql语句来操作数据库，我们以python为例进行介绍：
"""

# 1.连接mysql数据库
import pymysql # 类似的包还有mysql.connector

conn = pymysql.connect(
  host="localhost",  # 数据库主机地址（本地默认为localhost）
  port = 3306,
  user="root",    # 数据库用户名
  passwd="187733"   # 数据库密码
  # database = "mysql" 可以直接连接目标数据库
)
cursor = conn.cursor() # 创建光标对象

try:
  sql = "show databases" # sql语句
  cursor.execute(sql) # 查看有哪些数据库
  result = cursor.fetchall() # 获取并输出全部执行结果
  for db in result:
      print(db)
except:
   db.rollback() # 发生错误时回滚

cursor.execute("use mysql") # 连接数据库mysql

# conn.close() 断开mysql数据库连接

('db1',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

0

In [51]:
# 2.基本操作

# 2.1 表信息的简单查询
try:
    # 查看有哪些表
    sql = "show tables" 
    cursor.execute(sql)
    print(cursor.fetchall())

    # 查看表的字段信息
    sql = "describe user"
    cursor.execute(sql)
    print(cursor.fetchall())
    
    # 查看字段值
    sql = "select Host from user"
    cursor.execute(sql)
    print(cursor.fetchall())
except:
    db.rollback()

(('columns_priv',), ('component',), ('db',), ('default_roles',), ('engine_cost',), ('func',), ('general_log',), ('global_grants',), ('gtid_executed',), ('help_category',), ('help_keyword',), ('help_relation',), ('help_topic',), ('innodb_index_stats',), ('innodb_table_stats',), ('ndb_binlog_index',), ('password_history',), ('plugin',), ('procs_priv',), ('proxies_priv',), ('replication_asynchronous_connection_failover',), ('replication_asynchronous_connection_failover_managed',), ('replication_group_configuration_version',), ('replication_group_member_actions',), ('role_edges',), ('server_cost',), ('servers',), ('slave_master_info',), ('slave_relay_log_info',), ('slave_worker_info',), ('slow_log',), ('tables_priv',), ('time_zone',), ('time_zone_leap_second',), ('time_zone_name',), ('time_zone_transition',), ('time_zone_transition_type',), ('user',))
(('Host', 'char(255)', 'NO', 'PRI', '', ''), ('User', 'char(32)', 'NO', 'PRI', '', ''), ('Select_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Insert_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Update_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Delete_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Create_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Drop_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Reload_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Shutdown_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Process_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('File_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Grant_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('References_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Index_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Alter_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Show_db_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Super_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Create_tmp_table_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Lock_tables_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Execute_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Repl_slave_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Repl_client_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Create_view_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Show_view_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Create_routine_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Alter_routine_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Create_user_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Event_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Trigger_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Create_tablespace_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('ssl_type', "enum('','ANY','X509','SPECIFIED')", 'NO', '', '', ''), ('ssl_cipher', 'blob', 'NO', '', None, ''), ('x509_issuer', 'blob', 'NO', '', None, ''), ('x509_subject', 'blob', 'NO', '', None, ''), ('max_questions', 'int unsigned', 'NO', '', '0', ''), ('max_updates', 'int unsigned', 'NO', '', '0', ''), ('max_connections', 'int unsigned', 'NO', '', '0', ''), ('max_user_connections', 'int unsigned', 'NO', '', '0', ''), ('plugin', 'char(64)', 'NO', '', 'caching_sha2_password', ''), ('authentication_string', 'text', 'YES', '', None, ''), ('password_expired', "enum('N','Y')", 'NO', '', 'N', ''), ('password_last_changed', 'timestamp', 'YES', '', None, ''), ('password_lifetime', 'smallint unsigned', 'YES', '', None, ''), ('account_locked', "enum('N','Y')", 'NO', '', 'N', ''), ('Create_role_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Drop_role_priv', "enum('N','Y')", 'NO', '', 'N', ''), ('Password_reuse_history', 'smallint unsigned', 'YES', '', None, ''), ('Password_reuse_time', 'smallint unsigned', 'YES', '', None, ''), ('Password_require_current', "enum('N','Y')", 'YES', '', None, ''), ('User_attributes', 'json', 'YES', '', None, ''))
(('localhost',), ('localhost',), ('localhost',), ('localhost',))

In [52]:
# 2.2 数据库，表信息的创建
try:
    # 创建数据库db1
    sql = "create database db1 character set utf8"
    cursor.execute(sql)

    # 查看有哪些数据库
    sql = "show databases"
    cursor.execute(sql)
    print(cursor.fetchall())

    # 使用数据库db1
    sql = "use db1"
    cursor.execute(sql)

    # 创建并查看表tb1
    sql_1 = "create table tb1 (v1 INT, v2 CHAR(20), v3 INT)"
    sql_2 = "describe tb1"
    cursor.execute(sql_1)
    cursor.execute(sql_2)
    print(cursor.fetchall())
except:
    db.rollback()

In [ ]:
# 2.3 增删查改数据
try:
    # 增加记录
    sql_1 = "insert into tb1 values (01, 'Tom', 90),(02, 'Bob', 86),(03, 'Lily', 88)"
    sql_2 = "select * from tb1"
    cursor.execute(sql_1)
    cursor.execute(sql_2)
    print(cursor.fetchall())

    # 查找并删除记录
    sql_1 = "delete from tb1 where v2='Bob'"
    sql_2 = "select * from tb1"
    cursor.execute(sql_1)
    cursor.execute(sql_2)
    print(cursor.fetchall())

    # 查找并修改记录
    sql_1 = "update tb1 set v3=85 where v2='Lily'"
    sql_2 = "select * from tb1"
    cursor.execute(sql_1)
    cursor.execute(sql_2)
    print(cursor.fetchall())
except:
    db.rollback()

((1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (2, 'Bob', 86), (3, 'Lily', 88))
((1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 88))
((1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85), (1, 'Tom', 90), (3, 'Lily', 85))